@{
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="about.css">
</head>
<body>
    <header>

        <div class="formbox1">
            <label for="about" class="about">
                <b>
                    PERSONAL INFORMATION<br><br>ᴥ Raquel Agrava Sorila
                    <br />ᴥ 21 years old <br />ᴥ General Mariano Alvarez, Cavite <br />ᴥ April 30, 1999 <br /><br /><br /><br />
                    SOCIAL MEDIA ACCOUNTS<br /><br />ᴥ Facebook: Raquel Agrava Sorila <br />ᴥ Instagram: quellicious_30 <br />
                    ᴥ Twitter: Raquel_Sorila
                </b>
            </label>
        </div>

        <div class="formbox2">
            <label for="about2" class="about2">
                <b>
                    HOBBIES<br><br />ᴥ Reading sci-fi stories.
                    <br />ᴥ Watching interesting movies and series. <br />ᴥ Playing games such as Petpals, Mobile Legends, Wordscape and Word Hunt. <br />
                    ᴥ Studying specific topic that captures my interest. <br /><br />
                    FAVORITES<br /><br>ᴥ Color: Violet <br />ᴥ Food: Sweet and sour meatballs <br />
                    ᴥ Fruit: Melon <br /> ᴥ Genre of Movie: Horror, Action, and Sci-Fi
                </b>
            </label>
        </div>

        <div class=" formbox3">
            <label for="about3" class="about3">
                <b>
                    I always dream of providing the needs of my family that is why I am doing everything I can
                    to get good grades in every subject I take and land into a job related to my course. I am
                    a hardworking, dedicated person who wants to be a role model to every teenagers. I am also an
                    elected Sangguniang Kabataan councillor in my place. It is really fulfilling especially if our
                    projects are able to help many people.


                </b>
            </label>
        </div>

        <div class=" formbox4">
            <label for="about4" class="about4">
                <b>
                    I like to read quotations whenever I feel down, tired, unhappy, or thankful. These are my
                    favorite quotes.<br /> "Be where you are. Otherwise, you will miss your life."
                    <br />"Never stop learning, knowledge is food for the soul."
                    <br /> "Be a good person. Life is a mirror."
                    <br />"You are always one decision away from a totally different life."


                </b>
            </label>
        </div>

    </header>
</body>
</html>