@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="design.css">
</head>
<body>
    <header>

        <div class="formbox">
            <label for=" subject" class="subject"><b>APPLICATION DEVELOPMENT AND EMERGING TECHNOLOGIES </b></label>
        </div>
        <div class="bg"></div>
    </header>
</body>
</html>

